<!-- Validation failure messages -->
<% if @recipe.present? %>
  <% if @recipe.errors.any? %>
    <% @recipe.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new recipe
</h1>


<hr>

<!-- Form recipe start -->
<form action="/create_recipe" method="post">
<!-- Form recipe end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @recipe.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for cuisine_id start -->
  <div class="form-group">
    <label for="cuisine_id">
      Cuisine
    </label>

    <!-- Input for cuisine_id start -->
    <input type="text" id="cuisine_id" name="cuisine_id" class="form-control" value="<%= @recipe.cuisine_id %>">
    <!-- Input for cuisine_id end -->
  </div>
  <!-- Label and input for cuisine_id end -->

  <!-- Label and input for ingredients start -->
  <div class="form-group">
    <label for="ingredients">
      Ingredients
    </label>

    <!-- Input for ingredients start -->
    <input type="text" id="ingredients" name="ingredients" class="form-control" value="<%= @recipe.ingredients %>">
    <!-- Input for ingredients end -->
  </div>
  <!-- Label and input for ingredients end -->

  <!-- Label and input for directions start -->
  <div class="form-group">
    <label for="directions">
      Directions
    </label>

    <!-- Input for directions start -->
    <input type="text" id="directions" name="directions" class="form-control" value="<%= @recipe.directions %>">
    <!-- Input for directions end -->
  </div>
  <!-- Label and input for directions end -->

  <!-- Label and input for country_origin start -->
  <div class="form-group">
    <label for="country_origin">
      Country origin
    </label>

    <!-- Input for country_origin start -->
    <input type="text" id="country_origin" name="country_origin" class="form-control" value="<%= @recipe.country_origin %>">
    <!-- Input for country_origin end -->
  </div>
  <!-- Label and input for country_origin end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @recipe.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for photo start -->
  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <!-- Input for photo start -->
    <input type="text" id="photo" name="photo" class="form-control" value="<%= @recipe.photo %>">
    <!-- Input for photo end -->
  </div>
  <!-- Label and input for photo end -->

  <button class="btn btn-block btn-outline-secondary">
    Create recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
