<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Recipe #<%= @recipe.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/recipes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link recipe start -->
      <div class="col">
        <% if current_user == @recipe.user %>
          <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit recipe
          </a>
        <% end %>
      </div>
      <!-- Edit link recipe end -->

      <!-- Delete link recipe start -->
      <div class="col">
        <% if current_user == @recipe.user %>
          <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete recipe
          </a>
        <% end %>
      </div>
      <!-- Delete link recipe end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @recipe.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Cuisine
      </dt>
      <!-- Display cuisine_id start -->
      <dd>
        <%= @recipe.cuisine_id %>
      </dd>
      <!-- Display cuisine_id end -->

      <dt>
        Ingredients
      </dt>
      <!-- Display ingredients start -->
      <dd>
        <%= @recipe.ingredients %>
      </dd>
      <!-- Display ingredients end -->

      <dt>
        Directions
      </dt>
      <!-- Display directions start -->
      <dd>
        <%= @recipe.directions %>
      </dd>
      <!-- Display directions end -->

      <dt>
        Country origin
      </dt>
      <!-- Display country_origin start -->
      <dd>
        <%= @recipe.country_origin %>
      </dd>
      <!-- Display country_origin end -->

      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @recipe.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Photo
      </dt>
      <!-- Display photo start -->
      <dd>
        <%= @recipe.photo %>
      </dd>
      <!-- Display photo end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@recipe.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@recipe.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "recipe_templates/recipe_favorites" %>
  </div>
</div>
<!-- Show Page Customization end -->
