<form action="/create_recipe_from_cuisine" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="cuisine_id" value="<%= @cuisine.id %>">

  <div class="form-group">
    <label for="ingredients">
      Ingredients
    </label>

    <input type="text" id="ingredients" name="ingredients" class="form-control" value="<%= @recipe.ingredients %>">
  </div>

  <div class="form-group">
    <label for="directions">
      Directions
    </label>

    <input type="text" id="directions" name="directions" class="form-control" value="<%= @recipe.directions %>">
  </div>

  <div class="form-group">
    <label for="country_origin">
      Country origin
    </label>

    <input type="text" id="country_origin" name="country_origin" class="form-control" value="<%= @recipe.country_origin %>">
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @recipe.name %>">
  </div>

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <input type="text" id="photo" name="photo" class="form-control" value="<%= @recipe.photo %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create recipe
  </button>
</form>
